[Unit]
Description=Raspidash Kiosk
After=graphical-session.target network-online.target
Wants=network-online.target graphical-session.target

[Service]
User=pi
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority
Environment=RASPIDASH_URL=http://localhost:7531
ExecStartPre=/bin/sleep 5
ExecStart=/home/pi/raspidash/pi-kiosk/kiosk.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
